/*navbar*/
/*to change color of navbar on light dark mode switch */
body {
    margin: 0;
}

#i {
    background-color: #212529;
}

/*links*/
.h {
    padding-bottom: 0;
}

.h a {
    color: white;
}

.h:hover {

    background-color: white;
    /* outline: 2px solid white; */
    border-radius: 5%;
}

.h:hover a {
    color: black;
}

/*searchbar*/
#searchbar {
    width: 370px;
    outline: none;
    height: 2rem;
    padding-left: 30px;
    padding-right: 30px;
    border: 0px;
    left: 40%;
    top: 22%;
    position: absolute;
}

#microphone {
    left: 65%;
    top: 35%;
    position: absolute;
}

#search_button {
    position: absolute;
    left: 40.36%;
    top: 30%;
}

/*theme toggler*/
#theme-toggler {

    height: 43px;
    width: 86px;

    left: 70%;
    border: 2px solid #868e96;
    background-color: #03004b;
    position: absolute;

}

/*Switch*/
#toggle-switch {
    opacity: 0.8;
    border: 3px solid #868e96;
    width: 33px;
    height: 33px;
    top: 10%;
    left: 8%;
    background-color: white;
    position: absolute;

}

/* light mode */
#sun {

    top: 1%;
    right: 5%;
    position: absolute;
    display: none;

}

/* dark mode */
#moon {
    position: absolute;
    margin-right: 10%;
}

/*for giving fadein effect*/
.hidden {
    display: none;
}

/*google map api*/
/*Google Map API*/
/* Set the size of the div element that contains the map */
#map {
    height: 140px;
    /* The height is 400 pixels */
    width: 400px;
    /* The width is the width of the web page */
    object-fit: contain;
}

#a {
    color: white;
    font-size: 15px;
    margin-left: 5%;

}

.fa-brands {
    margin-right: 10%;
    font-size: 25px;
}

.g {
    transition: transform 0.4s ease-in-out;
}

.g:hover {
    color: red;
    transform: scale(1.3, 1.3);
}

.f {
    transition: transform 0.4s ease-in-out;
}

.f:hover {
    color: #4267B2;
    transform: scale(1.3, 1.3);
}

.l {
    transition: transform 0.4s ease-in-out;
}

.l:hover {
    color: #0319e1;
    transform: scale(1.3, 1.3);
}

.in {
    transition: transform 0.4s ease-in-out;
}

.in:hover {
    color: #bc2a8d;
    transform: scale(1.3, 1.3);
}

.card-body {
    overflow: hidden;
}

.card-img img {
    height: 150px;
    width: 150px;
    transition: all 0.2s ease-in-out;

}

.card-img img:hover {
    transform: scale(1.3, 1.3);
}

/*images on middle*/
.mid-image {
    width: 100%;
    height: 630px;

    background-image: linear-gradient(rgba(0, 0, 0, 0.8), rgba(0, 0, 0, 0.8)), url("eee.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    text-align: center;
}

/*text on image */
.img-txt {
    position: absolute;
    background-color: white;
}

#login-link {
    text-decoration: 0px;
    color: #ff6600;
}

#login-link:hover {
    color: white;
}

.main-categories {
    color: white;
    /* box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19); */
    height: 300px;
    width: 100%;

    display: flex;
    overflow-x: auto;
}

.sub-categories {
    background-color: white;
    height: 215px;
    color: #1F4690;
    /* margin-left: 10%; */
    margin: 20px 50px;
    width: 240px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    text-align: center;
    transition: transform 310ms ease;
    padding: 0px 20px;
    padding-top: 10px;
    border-radius: 20%;
}

.sub-categories:hover {
    box-shadow: 0 4px 10px 0 rgba(229, 7, 7, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    transform: scale(1.1, 1.1);
}

.sub-categories img {
    width: 140px;
    height: 140px;

}

.label {
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;

}

.imag-txt {
    position: absolute;
    top: 250px;
    color: white;
    left: 450px;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-size: 50px;
    z-index: 1;
}

.imag-txt button {
    border: 2px solid white;
    background-color: transparent;
    height: 60px;
    width: 190px;
    color: white;
    font-size: 25px;
    font-weight: bold;
    font-family: Georgia, 'Times New Roman', Times, serif;
}

.imag-txt button a {
    text-decoration: none;
    color: white;

}

#bb {
    background-color: transparent;
    border: 2px solid #ff6600;
    margin-left: 40%;
    height: 60px;
    width: 160px;
    font-size: 30px;
    margin-bottom: 100px;
    transition: transform 310ms ease-in-out;
}

#bb :hover {
    transform: scale(1.1, 1.1);
}

.fbck-link {
    color: #ff6600;
    text-decoration: none;
}


.brands {
    color: white;
    /* box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19); */
    height: 250px;
    width: 100%;
    display: flex;
    overflow-x: auto;
}

#top-brands {
    font-size: 2rem;
}

.br-name {
    background-color: white;
    height: 60%;
    color: #ff6600;
    margin-left: 4%;
    margin-right: 2%;
    width: 33%;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    text-align: center;
    transition: transform 350ms ease-in-out;
    border-radius: 30%;
}

.br-name img {
    width: 100px;
    height: 90px;
    align-items: center;

}

.br-name:hover {
    transform: scale(1.1, 1.1);
}

.reviews {
    display: flex;
    width: 90%;
    box-shadow: 0 4px 8px 8px rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    height: 280px;
    margin-left: 5%;
    margin-right: 4%;
    margin-bottom: 4%;
}

.boxes {
    margin-left: 4%;
    margin-right: 4%;
    margin-top: 4%;
    margin-bottom: 1%;
    height: 190px;
    width: 20%;
    box-shadow: 0 4px 8px 8px rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    font-size: 20px;
    font-family: cursive;

    text-overflow: break-word;
    border-radius: 15%;
    transition: transform 350ms ease-in-out;
}

.boxes:hover {
    transition: scale(1.1, 1.1);
}

.reviews .boxes p {

    font-family: cursive;
    color: #ff6600;
    font-size: 12px;
    margin-top: 0px;
    margin-left: 4%;
}

.reviews .boxes img {
    height: 25%;
    border-radius: 50%;

}

.div-rating {
    height: 9%;
    width: 9%;
    background-color: #ff6600;
    font-size: 10px;
    color: white;
    margin-left: 4%;

}

#al {
    display: flex;
}

#footer {
    height: 300px;
    width: 100%;
    background-color: black;
    color: white;
    text-align: center;
    margin-bottom: 0px;
    position: fixed bottom;
}

/* map api */
/* Set the size of the div element that contains the map */
#map {
    height: 200px;
    /* The height is 400 pixels */
    width: 20%;
    margin-left: 5%;
    margin-top: 2%;
    /* The width is the width of the web page */
}

#logo-img div {
    /* display:block; */
}

/* Media Queries */
/*small screen (smartphones andriod)*/
@media screen and (max-width:576px) {
    #searchbar {
        left: 19%;
        right: 30%;
        width: 290px;
        top: 0.65%;
        position: fixed;
        margin-right: 50%;
    }

    #search_button {
        position: fixed;
        left: 20%;
        right: 50%;

        top: 1%;
    }

    #microphone {
        left: 78%;
        top: 1.2%;
        position: fixed;
    }

    #logo-img {
        top: 1%;
        left: 5%;
        position: fixed;
    }

    #logo-img div {
        visibility: hidden;
    }
}

/* medium screen (ipad,tablets) */
@media screen and (max-width:1024px) and (min-width:577px) {
    #searchbar {
        left: 28%;
        right: 50%;
        width: 370px;
        top: 1%;
        position: fixed;
    }

    #search_button {
        left: 28.56%;
        right: 50%;

        top: 1%;

        position: fixed;
    }

    #microphone {
        left: 71%;
        top: 1.2%;
        position: fixed;
    }

    #logo-img {
        top: 1%;

        left: 5%;
        position: fixed;
    }

    #logo-img div {
        visibility: hidden;
    }
}

/* large screen */